html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "↑";
}

a.desc:after {
    content: "↓";
}

.sort-numerical a.asc:after {
    content: "↑";
}

.sort-numerical a.desc:after {
    content: "↓";
}

.sort-ordinal a.asc:after {
    content: "↑";
}

.sort-ordinal a.desc:after {
    content: "↓";
}
